.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--bg-dark-color);
}

.footer__container {
  text-align: center;
}

.footer__tablet-container {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__tablet-container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  .footer__tablet-container {
    margin-bottom: 0;
  }
}
