.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: stretch;
}

.portfolio__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow var(--transition-dur-and-func);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio__link {
  transition: box-shadow var(--transition-dur-and-func);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio__container {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
  border-top: transparent;
  flex-grow: 1;
}

.portfolio__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--primary-text-color);
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--second-text-color);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay-text {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 77px 24px;

  transform: translateY(101%);
  transition: transform var(--transition-dur-and-func);
  overflow: auto;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--text-white-color);
  background-color: rgba(33, 150, 243, 0.9);

  .portfolio__link:hover &,
  .portfolio__link:focus & {
    transform: translateY(0%);
  }
}

@media screen and (min-width: 768px) {
  .portfolio__item {
    flex-basis: calc((100% - 30px) / 2);
  }

  .portfolio__overlay-text {
    padding: 49px 24px;
  }
}

// @media screen and (min-width: 768px) and (max-width: 1199px) {
//   .portfolio__thumb--first-item {
//     padding-bottom: 56px;
//   }
// }

@media screen and (min-width: 1200px) {
  .portfolio__item {
    flex-basis: calc((100% - 60px) / 3);
  }

  .portfolio__overlay-text {
    padding: 63px 24px;
  }
}
