.contact {
  display: flex;
  margin-left: auto;
  column-gap: 50px;
}

.contact__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  fill: var(--second-text-color);
  color: var(--second-text-color);
  transition: color var(--transition-dur-and-func), fill var(--transition-dur-and-func);

  &:hover,
  &:focus {
    fill: var(--accent-color);
    color: var(--accent-color);
  }
}

.contact__icon {
  margin-right: 10px;
}
