@media screen and (max-width: 767px) {
  .footer__contact {
    margin-bottom: 60px;
  }
}

.address__location {
  display: inline-block;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--text-white-color);
  transition: color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.address__conctact {
  display: inline-block;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

@media screen and (min-width: 1200px) {
  .footer__contact {
    width: 232px;
    margin-right: 70px;
    margin-left: 0;
    text-align: left;
    margin-bottom: 0;
  }
}
