.media-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.media-list__link {
  width: 44px;
  height: 44px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
