.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.section__team-bg {
  background-color: #f5f4fa;
}

.section__no-padding-top {
  padding-top: 0;
}

@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}
